<h1 class="content">P&aacute;gina n&atilde;o encontrada</h1>

<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td valign="top"><img src="{$linkimg}404.png" height="128" width="128" alt="" /></td>
		<td valign="top">
			A p&aacute;gina que voc&ecirc; est&aacute; tentando acessar n&atilde;o existe ou n&atilde;o est&aacute; mais dispon&iacute;­vel.
			<br /><br /><br />
			<button class="botaoFinalPaginas" onclick="window.open('{$link}','_self')">Clique aqui para voltar<br />a navegar no site Pagatto.</button>
		</td>
	</tr>
</table>