<center>
	<form method="post" action="">
		<input type="hidden" name="login" value="1" />
		
		<table border="0" cellpadding="4" cellspacing="2" width="30%" class="customerInfo">
			<tr>
				<td colspan="2">
					<h2 class="title">Faça seu login abaixo</h2>
					<input type="submit" value="Login" class="button" />
				</td>
			</tr>
			<tr>
				<td style="width: 40px;"><label for="user" class="label">Usuário</label></td>
				<td><input type="password" name="user" id="user" class="input" /></td>
			</tr>
			<tr>
				<td><label for="pass" class="label">Senha</label></td>
				<td><input type="password" name="pass" id="pass" class="input" /></td>
			</tr>
		</table>
	</form>
</center>